a(href=routes.kakao)
    img(src="https://odaeri.kr/images/buttons/btn_kakao-v2.3.png")
a(href=routes.naver)
    img(src="https://odaeri.kr/images/buttons/btn_naver-v2.3.png")

    
    //- span
        //- |네이버 로그인
//- button.social__login--facebook
//-     a(href=routes.facebook)
//-         span
//-         |페이스북 로그인
//- button.social__login--github
//-     a(href=routes.github)
//-         span
//-         |깃허브 로그인
    