@import "./config/_variables.scss";
@import "./config/reset.scss";

@import "./partials/header.scss";
@import "./partials/aside.scss";

@import "./home.scss";
@import "./videoDetail.scss";
@import "./join.scss";
@import "./user.scss";
@import "./editProfile.scss";
@import "./post.scss";

body {
    width: 100%;
    background-color: #f9f9f9;
    color: #212121;
}
