.aside {
    float: left;
    width: 240px;
    height: 1200px;
    background-color: #ffffff;
    
    a {
        text-decoration: none;
    }
    li:hover,
    .active {
        background-color: lightgrey;
        i {
            color: #ff0000;
        }
        span {
            color: #212121;
        }
    }
    
    ul {
        i {
            margin-right: 30px;
        }
        li {    
            padding: 20px 24px 0px;
            height: 40px;
            a {
                color: #808080;
            }
        }
        
    }
}

.aside::after {
    display: block;
    clear: both;
    content: "";
}

.asideRight {
    float: left;
    height: 1200px;
    width: 1750px;
    
}
main {
    width: 100%;
}