.listUl {
    display: flex;
    position: absolute;
    flex-direction: column;
    font-size: 48px;
    padding-left: 40px;
    a {
        display: inline-block;
        text-decoration: none;
        color: white;
        margin-bottom: 20px;
    }
    a:hover {
        color: #808080;
    }
}
