.videoPlayer {
    position: relative;
    margin: 0 auto;
    width: 50%;
    video {
        max-width: 100%;
    }
    video:focus{
        outline: none;
    }
    .videoEdit {
        display: flex;
        justify-content: flex-end;
        font-size: 20px;
        
    }
    .videoEdit a{
        color: #909090;
        text-decoration: none;
    }
    .videoTitle p {
        font-size: 30px;
        margin: 20px 0px 20px 0px;
    }
    .videoView {
        border-bottom: 1px solid #303030;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .videoView span {
        color: #909090;
        font-size: 18px;       
    }
    .videoView .videoBtn {
        display: flex;
        justify-content: flex-end;;
        margin-top: -18px;
        color: #808080;
        cursor: pointer;
    }
    .videoView .videoBtn li {
        margin-left: 20px;
    }
    .videoCreator {

        font-size: 18px;
    }
    .videoCreator a{
        color: white;
        text-decoration: none;
    }
    .videoCreator img {
        width: 60px;
        height: 60px;
        border-radius: 80%;
        
    }
    .videoCreator span {
        position: absolute;
        padding: 20px 0px 0px 20px;
    }
    .videoDescription {
        margin: 20px 0px 20px 0px;
        padding: 0px 0px 20px 80px;
        border-bottom: 1px solid #303030;
    }
    .videoCommentHeader {
        margin-bottom: 20px;
    }
    .videoComment {
        position: relative;
        margin-bottom: 40px;
    }
    .videoComment img {
        width: 60px;
        height: 60px;
        border-radius: 80%;
    }
    .videoComment .videoCommentForm {
     position: relative;
    }
    .videoComment .videoCommentForm .comment {
        position: absolute;
        margin: 20px 0px 20px 20px;
        bottom: 0px;
        right: 0px;
        font-size: 18px;
        width: 91%;
        background-color: #181818;
        border-top: none;
        border-left:none;
        border-right: none;
        color: white;
    }
    .videoComment input:focus{
        outline: none;
    }
    .commentBlock #jsCommentList {
        position: absolute;
        margin: 20px 0px 20px 20px;
        bottom: 0px;
        right: 0px;
        font-size: 18px;
        width: 91%;
        background-color: #181818;
        border-top: none;
        border-left:none;
        border-right: none;
        color: white;
    }
}