//- 게시판
extends ./layouts/main.pug

block content
    ul
        li
            a(href=routes.home) 메인
        li
            a(href=routes.videos) 영상
        li
            a(href=routes.boards) 게시판
    p 게시판