extends ./layouts/main.pug

block content
    .user__profile
        form(action="", method="post")
            p
                input(type="text",placeholder="제목",name="title")
            p
                textarea(name="description",placeholder="내용",rows=20,cols=32)
            p
                input(type="submit",value="업로드")
        