extends ./layouts/main.pug

block content
    .form__wrap
        form(method="post")
            input(type="text" ,name="title", placeholder="제목", required=true, value=board.title)
            textarea(name="description", placeholder="내용", required=true)=board.description
            input(type="submit", value="수정")
        a(href=routes.boardsDelete(id)) 삭제