//- 게시판
extends ./layouts/main.pug
include ./mixins/boardBlock.pug

block content
    include ./partials/list.pug
        a(href=`/boards${routes.boardsUpload}`, class="boardPost") 글쓰기
    .main_boards
        each lists in list
            +boardBlock({
                title:lists.title,
                views:lists.views,
                id:lists.id,
                createdAt:lists.createdAt,
                creator:lists.creator.name,
                avata:lists.creator.avataUrl,
                description:lists.description,
                comments:lists.comments.length
            })    
        