//- 게시판
extends ./layouts/main.pug
include ./mixins/boardBlock.pug

block content
    ul
        li
            a(href=routes.home) 메인
        li
            a(href=routes.videos) 영상
        li
            a(href=routes.boards) 게시판
    each lists in list
        +boardBlock({
            title:lists.title,
            createdAt:lists.createdAt,
            views:lists.views
        })    
        
    a(href=`/boards${routes.boardsUpload}`) 글쓰기