//- 메인 홈화면 올라온 비디오가 순서대로 올라가있을 계획
extends ./layouts/main.pug

block content
    .user__profile
        p
            img.avatar(src=loggedUser.avataUrl)
        p
            span.profile_username=user.name
        //- p 
        //-     a(href=routes.myPost(_id)) 내가쓴글
        p
            a(href=routes.editProfile(_id)) 프로필 수정하기