//- 메인 홈화면 올라온 비디오가 순서대로 올라가있을 계획
extends ./layouts/main.pug

block content
    .userProfile
        .userProfileBanner
            img(src=user.banner)
        .userProfileImg
            if user.avataUrl
                img.avatar(src=user.avataUrl)
            span.profile_username=user.name
            .tap
                ul
                    li
                        |홈
                    li
                        |동영상
                    li
                        |게시판
                    li
                        |정보
        .userPostList
