extends ./layouts/main.pug

include ./mixins/videoBlock.pug

block content
    ul
        li
            a(href=routes.home) 메인
        li
            a(href=routes.videos) 영상
        li
            a(href=routes.boards) 게시판
    a(href=`/videos${routes.upload}`) 업로드
    .videos
        each video in videos
            +videoBlock({
                title:video.title,
                views:video.views,
                fileUrl:video.fileUrl,
                id:video.id
            })