extends ./layouts/main.pug
include ./mixins/videoBlock.pug

block content
    span#jshot
    .videoWrap
        each video in videos
            +videoBlock({
                id:video.id,
                title:video.title,
                description:video.description,
                views:video.views,
                createdAt:video.createdAt,
                creator:video.creator.name,
                avata:video.creator.avataUrl,
                fileUrl:video.fileUrl,
                comment:video.comments.length,
            })