.main_boards{
    margin: 0 auto;
    width: 50%;
}
.boardPost {
    text-decoration: none;
    color: white;           
    font-size: 24px;
    margin-left: 100px;
}
.boardPost:hover {
    color: #808080;
}
.boardList {
    height: 150px;
    border-bottom: 1px solid #303030;
    padding-bottom: 10px;
}
.boardBlock {
    :hover {
        transform: scale(1.01);
        transition: all 0.3s ease-in-out;
    }
    position: relative;
    margin-bottom: 30px;
    a {
        text-decoration: none;
        color: white;           
    }
    a .boardTitle {
        top: 0px;
        position: absolute;
        display: inline-block;
        margin: 10px 0px 0px 20px;
        font-size: 24px;
    }
    a:hover {
        color: #808080;
    }
    a .boardViews {
        top: 30px;
        position: absolute;
        display: inline-block;
        margin: 10px 0px 0px 20px;
        font-size: 18px;
        color: #909090;
    }
    a .boardViews p {
        position: relative;
    }
    a .boardViews img {
        width: 48px;
        height: 48px;
        border-radius: 80%;
    }
    a .boardViews .avata {
        margin: 20px 0px 20px 0px;
    }
    a .boardViews p span {
        position: absolute;
        padding: 18px 0px 0px 10px;
    }
}