.Edit_wrap {
    margin: 0 auto;
    width: 30%;
    font-size: 25px;
    .EditprofileForm{
        margin: 0 auto;
        width: 50%;
        margin-top: 50px;
        input  {
            font-size: 20px;
        }
    }
}

.user__profile {
    margin: 0 auto;
    width: 30%;
}