a(href=routes.kakao)
    img(src="../../uploads/kakao.png" )
a(href=routes.naver)
    img(src="../../uploads/naver.png" width="600px" height="90px")

    
    //- span
        //- |네이버 로그인
//- button.social__login--facebook
//-     a(href=routes.facebook)
//-         span
//-         |페이스북 로그인
//- button.social__login--github
//-     a(href=routes.github)
//-         span
//-         |깃허브 로그인
    