//- 업로드
extends ./layouts/main.pug

block content
    span#jsabout
        .aboutWrap
            p(class="aboutTitle") 개발과정
                p(class="aboutTitle")
                    |- 
                    a(href="https://erurang.github.io/tag/project-wetube/") 개인블로그
                    |에 각 버전마다 공부/개발 과정을 적어두었습니다.
                p(class="aboutTitle") 소스코드
                    p   
                        |- 
                        a(href="https://github.com/erurang/mytube/tree/ver0.35") Github
                        |에서 보실수 있습니다.
            p(class="aboutTitle") 개발기간
                p(class="aboutTitle") - 2020-12-13 ~ 2020-12-29
            p(class="aboutTitle") Wetube에 사용된 기술
                p - PUG
                p - CSS (Scss)
                p - Javascript 
                p - Node.js
                p - Passport.js
                p - mongoDB & Mongoose
                p - Multer
                p - AWS
                p - Webpack
                p - BABEL
            p 이메일
                p - erurang@naver.com
            
