.userProfile {
    .userProfileBanner {
        height: 380px;
        background-color: red;
    }
    .userProfileImg {
        margin: 0 auto;
        height: 150px;
        background-color: #f9f9f9;
        img {
            width: 48px;
            height: 48px;
            border-radius: 80%;
        }
    }
    .userProfileLink {
        padding: 50px;
        font-size: 30px;
    }
    .userPostList {
        background-color: #f1f1f1;
    }
}

// .userProfile::after {
//     content: "";
//     clear: both;
//     display: block;
//     border-bottom: 1px solid black;
// }